<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Hello World!</h1>
<div>
    <a href="test" target="_self">Test twig</a>
</div>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque dignissimos eos quisquam reiciendis vitae!
        Accusantium, aliquam et exercitationem, fugiat iure magnam molestias optio provident, quia similique ullam
        veniam? Architecto.</p>
</div>
</body>
</html>