{% extends 'layout.html.twig' %}

{% block main %}
    <h2>MàJ bdd via API tmdb</h2>
    <div>
        <p>
            <i>
                Inspiré du github "eni-sfmovies" du prof des vidéos
                (<a href="https://github.com/gsylvestre/eni-sfmovies">github.com/gsylvestre/eni-sfmovies)</a>.
            </i>
        </p>
        <p>Le chargement de cette page est censé peupler automatiquement la bdd series avec les données de tmdb.</p>

        {%  caller.moviesFromTmdb %}


        <p>Compteur : {{  count }}</p>
    </div>
{% endblock %}

{% block title %}{{ parent() }} | Liste{% endblock %}